body{
    margin:0;
    font-family:'Outfit',sans-serif;
    background:#0f0f14;
    color:white;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 5%;
    background:#111;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo span{
    color:#00d4ff;
}

#searchInput{
    padding:8px 15px;
    border-radius:20px;
    border:none;
    width:250px;
}

.whatsapp-btn{
    background:#25D366;
    padding:8px 15px;
    border-radius:20px;
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:60px 20px;
    background:linear-gradient(135deg,#00d4ff,#7000ff);
}

.hero span{
    color:#fff;
}

.filters{
    text-align:center;
    margin:30px 0;
}

.filters button{
    margin:5px;
    padding:10px 20px;
    border:none;
    background:#1a1a22;
    color:white;
    cursor:pointer;
    border-radius:20px;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:20px 5%;
}

.product-card {
    width: 250px;
    overflow: hidden;
}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.product-info{
    padding:15px;
}

.product-info h3{
    margin:0 0 5px;
}

.price{
    color:#00d4ff;
    font-weight:600;
}

footer{
    text-align:center;
    padding:20px;
    background:#111;
}